@import "tailwindcss";

/* Fichiers à scanner  */
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Thème global */
@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* Variables design system */
:root {
    /* Couleur de Base */
    --color-primary: #1d4ed8;
    --color-secondary: #9333ea;

    --color-danger: #ef4444;
    --color-success: #22c55e;
    --color-warning: #facc15;

    /* Couleurs Neutres */
    --color-neutral-100: #f3f4f6;
    --color-neutral-200: #e5e7eb;
    --color-neutral-300: #d1d5db;
    --color-neutral-400: #9ca3af;
    --color-neutral-500: #6b7280;
    --color-neutral-600: #4b5563;
    --color-neutral-700: #374151;
    --color-neutral-800: #1f2937;
    --color-neutral-900: #111827;

    /* UI Globales */
    --bg-body: var(--color-neutral-100);
    --bg-card: #ffffff;
    --text-body: var(--color-neutral-700);
    --text-heading: var(--color-neutral-900);
    --border-base: var(--color-neutral-200);

    /* Ombres */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.06);
    --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.08);
    --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.12);

    /* Rayon des Bordures */
    --radius-none: 0;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 20px;
    --radius-full: 999px;

    /* Espacement */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-8: 32px;
    --space-12: 48px;

    /* Police */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-3xl: 30px;
    --text-4xl: 36px;

    --font-main: "Inter", system-ui, sans-serif;
    --font-heading: "Inter", system-ui, sans-serif;

    /* Transition */
    --transition-fast: 150ms;
    --transition-base: 250ms;
}
